<div class='bloc_form active' id='BlocValCarac'>
                <h2 class='display-5'>Valeur de caractéristique </h2>
                <p>points restant : <span id='points_competence'>{{personnage.getPointsCompetence()}}</span></p>
                <table class='table'>
                    <tr>
                        <th></th>
                        <th>Valeur</th>
                        <th>Modificateur</th>
                        <th>Valeur améliorée</th>
                        <th>Modificateur amélioré</th>
                    </tr>
                    <tr>
                        <th>FOR</th>
                        <td><input type='number' name='caracFOR'  id='caracFOR' value='{{personnage.caracFOR}}' data-race='0' data-theme='0' class='carac' /></td>
                        <td><input type='number' name='modForce' id='modForce' value='{{personnage.modForce}}' readonly/></td>
                        <td><input type='number' name='' value=''/></td>
                        <td><input type='number' name='' value='' readonly/></td>
                    </tr>
                    <tr>
                        <th>DEX</th>
                        <td><input type='number' name='caracDEX' id='caracDEX' value='{{personnage.caracDEX}}' data-race='0' data-theme='0' class='carac' /></td>
                        <td><input type='number' name='modDex' id='modDex' value='{{personnage.modDex}}' readonly/></td>
                        <td><input type='number' name='' value=''/></td>
                        <td><input type='number' name='' value='' readonly /></td>
                    </tr>
                    <tr>
                        <th>CON</th>
                        <td><input type='number' name='caracCON' id='caracCON' value='{{personnage.caracCON}}' data-race='0' data-theme='0' class='carac' /></td>
                        <td><input type='number' name='modCon' id='modCon' value='{{personnage.modCon}}' readonly /></td>
                        <td><input type='number' name='' value=''/></td>
                        <td><input type='number' name='' value='' readonly /></td>
                    </tr>
                    <tr>
                        <th>INT</th>
                        <td><input type='number' name='caracINT' id='caracINT' value='{{personnage.caracINT}}' data-race='0' data-theme='0' class='carac' /></td>
                        <td><input type='number' name='modInt' id='modInt' value='{{personnage.modInt}}' readonly /></td>
                        <td><input type='number' name='' value=''/></td>
                        <td><input type='number' name='' value='' readonly /></td>
                    </tr>
                    <tr>
                        <th>SAG</th>
                        <td><input type='number' name='caracSAG' id='caracSAG' value='{{personnage.caracSAG}}' data-race='0' data-theme='0' class='carac' /></td>
                        <td><input type='number' name='modSag' id='modSag' value='{{personnage.modSag}}' readonly /></td>
                        <td><input type='number' name='' value=''/></td>
                        <td><input type='number' name='' value='' readonly /></td>
                    </tr>
                    <tr>
                        <th>CHA</th>
                        <td><input type='number' name='caracCHA' id='caracCHA' value='{{personnage.caracCHA}}' data-race='0' data-theme='0' class='carac' /></td>
                        <td><input type='number' name='modCha' id='modCha' value='{{personnage.modCha}}' readonly /></td>
                        <td><input type='number' name='' value=''/></td>
                        <td><input type='number' name='' value='' readonly /></td>
                    </tr>
                    
                </table>
            </div>