
{% extends 'base.html.twig' %}

{% block body %}
<!-- animation chargement -->
<div id='loadingBackground' class=""><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
<!--  -->
<form method='POST'>

<div class='container'>
<div class='row'>
<div class='col-md-12'>
<div class='bloc_form active'>
<h1 class='display-2'>Formulaire Personnage</h1>



<!-- Modal themes-->
<div class="modal fade" id="themeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      
        <h1 class="modal-title fs-5" id="exampleModalLabel">Choix du thème</h1>
      
      <div class="modal-body">
        <div class='row'>
            {% for theme in themes %}
                {% include 'personnage/themeComponent.html.twig' %}
            {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id='saveTheme'>Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- modal race -->
<div class="modal fade" id="raceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      
        <h1 class="modal-title fs-5" id="exampleModalLabel">Choix de la race</h1>
      
      <div class="modal-body">
        <div class='row'>
            {% for race in races %}
                {% include 'personnage/raceComponent.html.twig' %}
            {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id='saveRace'>Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- modal classe -->
<div class="modal fade" id="classeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      
        <h1 class="modal-title fs-5" id="exampleModalLabel">Choix de la classe</h1>
      
      <div class="modal-body">
        <div class='row'>
            {% for classe in classes %}
                {% include 'personnage/classeComponent.html.twig' %}
            {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id='saveClasse'>Save changes</button>
      </div>
    </div>
  </div>
</div>
    <p>
        <label>Nom : </label>
        <input type='text' name='nom' value='{{personnage.nom}}'/>
    </p>
    <div class='row'>
        <div class='col-md-4'>
           
                <label>Race : </label>
                <button type="button" id='chooseRaceBtn' class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#raceModal">
                    {% if personnage.race.titre is defined  %}
                        {{personnage.race.titre}}
                    {% else %}
                        Choisissez votre race
                    {% endif %}
                </button>
                <input type='hidden' id='inputRace' name='race' value='{{personnage.race.id is defined ? personnage.race.id : "0"}}' />
            
            
        </div>
        <div class='col-md-4'>
            
                <label>Thème : </label>
                <button type="button" id='chooseThemeBtn' class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#themeModal">
                    {% if personnage.themes.titre is defined  %}
                        {{personnage.themes.titre}}
                    {% else %}
                        Choisissez votre thème
                    {% endif %}
                </button>
                <input type='hidden' id='inputTheme' name='theme' value='{{personnage.themes.id is defined ? personnage.themes.id : "0"}}' />
            
            
        </div>
        <div class='col-md-4'> 
            
                <label>Classe : </label>
                <button type="button" id='chooseClasseBtn' class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#classeModal">
                    {% if personnage.classe.titre is defined  %}
                        {{personnage.classe.titre}}
                    {% else %}
                        Choisissez votre classe
                    {% endif %}
                </button>
                <input type='hidden' id='inputClasse' name='classe' value='{{personnage.classe.id is defined ? personnage.classe.id : "0"}}' />

            
            
        </div>
    </div>
    </div>
    </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <span class="nav-link active" data-bloc='BlocValCarac'>Valeur de caractéristique</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link" data-bloc='BlocCompetences'>Compétences</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link" data-bloc='BlocSantePers'>Santé et persévérance</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link" data-bloc='BlocCa'>Classe d'armure</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link" data-bloc='BlocJetSauv'>Jet de sauvegarde</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link" data-bloc='BlocBa'>Bonus d'attaque</span>
                </li>
            </ul>
        </div>
    </div>
    <div class='row bloc_infos'>
        <div class='col-md-12'>
            {% include 'personnage/CaracComponent.html.twig' %}
            {% include 'personnage/CompetenceComponent.html.twig' %}
            {% include 'personnage/SanteComponent.html.twig' %}
            {% include 'personnage/CaComponent.html.twig' %}
            {% include 'personnage/JetSauvComponent.html.twig' %}
            {% include 'personnage/BaComponent.html.twig' %}   
        </div>
    </div>
    </div>
<div class='text-center py-2'><input type='submit' name='valid_perso' value='Valider' /></div>
</form>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

<script src='{{ asset('test.js') }}'></script>



{% endblock %}