{% extends 'base.html.twig' %}

{% block body %}
<h1>Personnages</h1>
<div class='container-fluid'>
    <div class='row my-4'>
        <div class='col-md-6'>
            <a href='{{path('app_form_personnage')}}'>Créer un personnage</a>
        </div>
    </div>

   


    <div class='row my-4 justify-content-around'>
        {% for personnage in personnages %}
            <div class='col-md-2  card p-0'>
                <div class="card-header">
                    <h4 class="card-title">{{personnage.nom}}</h4>
                    <div>{{personnage.race.titre}} / {{personnage.themes.titre}} / {{personnage.classe.titre}}</div>
                </div>
                <div class="card-body">
                    
                    

                    <div class="card-text row">
                        <div class='col-md-6'><b>PE : </b> {{personnage.pe}}</div>
                        <div class='col-md-6'><b>PV : </b>{{personnage.pv}}</div>
                        
                    </div>
                    <hr/>

                    <div class="card-text row">
                        <div class='col-md-6'>
                            <div><b>FOR : </b>{{personnage.caracFOR}}</div>
                            <div><b>DEX : </b>{{personnage.caracDEX}}</div>
                            <div><b>CON : </b>{{personnage.caracCON}}</div>
                            <div><b>INT : </b>{{personnage.caracINT}}</div>
                            <div><b>SAG : </b>{{personnage.caracSAG}}</div>
                            <div><b>CHA : </b>{{personnage.caracCHA}}</div>
                        </div>
                        <div class='col-md-6'>
                            <div><b>CAE : </b>{{personnage.cae}}</div>
                            <div><b>CAC : </b>{{personnage.cac}}</div>
                        </div>
                        
                    </div>

                    

                </div>
                <div class="card-footer text-center">
                    <a href="{{path('app_form_personnage',{id:personnage.id})}}" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></a>
                    <button class="delete_personnage btn btn-danger" data-id='{{personnage.id}}'><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

<script src='{{ asset('listPersonnage.js') }}'></script>
{% endblock %}