<div class='col-md-4'>
    <div class='chooseTheme card {{personnage.themes.id is defined and personnage.themes.id == theme.id ? "active":""}}' data-id='{{theme.id}}'>
        <div class='row'>
            <div class='col-md-4'>
                <img src="{{asset('img/theme_' ~ theme.id ~ '.png')}}" class="card-img-top" >
            </div>
            <div class='col-md-8'>
               <h5 class="card-title">{{theme.titre}}</h5>
               <div class='card-text '>{{theme.txt | raw}}</div>
              
            </div>
        </div>
    </div>
</div>